{% extends "maintemplate.html" %}

{% block title %}Location move{% endblock %}

{% block content %}
    <h1>location create</h1>
    <p>Create location(s) starting from the highest and next available progressive number.</p>
    <p>Next available progressive number: <span style="color: red;">{{ next_number }}</span></p>
    <form action="/slcreate" method="POST">
        <label for="location_type">Location Type:</label><br>
        <select id="location_type" name="location_type" required>
            <option value="">Select a location type</option>
            {% for location_type in location_types %}
                <option value="{{ location_type.pk }}">{{ location_type.name }}</option>
            {% endfor %}
        </select><br>
        <p></p>
        <label for="num_new_locations">Number of new locations:</label><br>
        <input type="number" id="num_new_locations" name="num_new_locations" value="1" min="0" required><br>
        <p></p>
        <label for="parent_location_name">Parent location name:</label><br>
        <input type="text" id="parent_location_name" name="parent_location_name" placeholder="Enter parent location name" required><br>
        <p></p>
        <input type="submit" value="Submit">
    </form>
    <h2>Matching Locations</h2>
    <ul>
        {% for location in matching_locations %}
            <li>{{ location }}</li>
        {% endfor %}
    </ul>
    <h2>New Locations to Create</h2>
    <ul>
        {% for location in new_locations %}
            <li>{{ location }}</li>
        {% endfor %}
    </ul>
    <script>
        $(function() {
            var locations = {{ locations | tojson | safe }};
            var locationPaths = locations.map(function(location) {
                return location.pathstring;
            });
            $("#parent_location_name").autocomplete({
                source: locationPaths
            });
        });
    </script>
{% endblock %}